/* Simple CSS Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    min-height: 100dvh;
    overflow-x: hidden;
    width: 100%;
    max-width: 100%;
}

body {
    height: 100dvh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    background-color: var(--background-color);
}

.button-style-main {
    background: var(--main-cta);
    padding: .75em 1em;
    color: var(--text-color);
    border-radius: var(--border-radius);
    border: none;
}

.button-style-main:hover {
    background: var(--secondary-cta);
    color: var(--background-color);
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
    position: absolute;
    width: 100%;
    height: 100%;
    inset: 0;
}

.jacket-content-div {
    display: flex;
}

.jacket-content-div>button {
    border: none;
    background: none;
}