.content-short {
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: 300px;
    height: 350px;
    background: color-mix(in srgb, var(--background-color), transparent 50%);
    border-radius: var(--border-radius);
    padding: 1em;
    box-shadow: 1px 2px 4px color-mix(in srgb, var(--background-color), transparent 50%);
    cursor: pointer;
    font-family: var(--font-header);
    font-weight: var(--font-header-weight);
    font-style: var(--font-header-style);
    font-size: 1.rem;
    z-index: 10;
}

.content-short>img {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
    height: 250px;
}

.price {
    position: absolute;
    top: 5%;
    left: 10%;
    background: var(--secondary-cta);
    padding: .25em .75em;
    border-radius: 5em;
}

.onSale {
    position: absolute;
    top: 10%;
    right: 0%;
    font-size: 1.2em;
    background: rgba(255, 0, 0, 0.526);
    padding: .25em .75em;
    border-radius: 5em;
    transform: rotate(45deg);
}

.content-short>div {
    position: absolute;
    bottom: 5%;
    right: 10%;
}

.content-short>h1 {
    z-index: 20;
}

.like-button {
    position: absolute;
    bottom: 0%;
    z-index: 100;
    background: none;
    border: none;
}

.like-button>img {
    width: 5em;
}



aside {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;
    justify-content: center;
}

aside>div {
    display: flex;
    align-items: center;
}

input[type="checkbox"].filter-checkbox {
    appearance: auto;
    -webkit-appearance: checkbox;
    all: revert;
    height: 2em;
    width: 2em;
}