main {
    width: 100vw;
    background: var(--background-color);
    background-image: linear-gradient(var(--bg-tint-color)), url('../img/background/background.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
    align-items: center;
}

main>article,
.jacket-wrapper {
    margin: clamp(1em, 10vw, 5em) clamp(.2em, 5vw, 20em);
    padding: clamp(0.2em, 10vw, 7em);
    background: color-mix(in srgb, var(--background-color), transparent 50%);
}

.jacket-wrapper {
    position: relative;
    max-width: 50em;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.button-wrapper-right {
    display: flex;
    flex-direction: row-reverse;
}

.jacket-content-div>img {
    width: 20em;
}

.jacket-content-div {
    display: flex;
    flex-direction: row;
    gap: 2em;
}

.cart {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.cart-item {
    border-bottom: .25px solid black;
}

.cart-image {
    height: 4em;
}